<!--   Anmeldung zur nächsten KIF   -->
<div class="row leadrow">
    <div class="col s12 m12 l12">
        <div class="card hoverable">
            <img style="height: 200px" class="right responsive-img" src="assets/kif475_logo.png">
            <div class="card-content" style="min-height: 200px">
                <span class="card-title">KIF 47,5 in Magdeburg</span>
                <p>Die aktuelle KIF findet vom 30.10.2019 (Mittwoch) bis zum 03.11.2019 (Sonntag) in Magdeburg statt. Unten findet ihr die wichtigsten Links.</p>
            </div>
            <div class="card-action">
                <a style="margin-top: 5px" class="waves-effect waves-light btn green" href="https://wiki.kif.rocks/wiki/KIF475:Hauptseite"><i class="material-icons left">description</i>KIF-Wiki</a>
                <a style="margin-top: 5px;" class="waves-effect waves-light btn green" href="https://ak.kif.rocks/kif475/submission/"><i class="material-icons left">today</i>AK-Planung</a>
                <a style="margin-top: 5px;" class="waves-effect waves-light btn green" href="https://engel.475.kif.rocks/"><i class="material-icons left">favorite</i>Engelsystem</a>
                <a style="margin-top: 5px;" class="waves-effect waves-light btn grey" href="https://apfifoges.475.kif.rocks/"><i class="material-icons left">note</i>Apfifoges</a>
                <a style="margin-top: 5px;" class="waves-effect waves-light btn grey" href="http://moerderspiel.org/kif475"><i class="material-icons left">videogame_asset</i>Mörderspiel</a>
            </div>
        </div>
    </div>
</div>
