<!--   Anmeldung zur nächsten KIF   -->
<div class="row leadrow">
    <div class="col s12 m12 l12">
        <div class="card hoverable">
          <img class="right responsive-img" src="{{ site.data.kif.logo }}">
            <div class="card-content" style="min-height: 140px;">
                <span class="card-title">{{ site.data.kif.title }}</span>
                <p>{{ site.data.kif.description }}</p>
            </div>
            <div class="card-action">
                {% for link in site.data.kif.links %}
                <a
                    style="margin-top: 5px;"
                    class="waves-effect waves-light btn green"
                    href="{{ link.url }}"
                >
                    <i class="material-icons left">{{ link.icon }}</i>
                    {{ link.title }}
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
