<!--   Anmeldung zur nächsten KIF   -->
<div class="row leadrow">
    <div class="col s12 m12 l12">
        <div class="card hoverable">
            <img class="right responsive-img" src="assets/kif490_logo.png">
            <div class="card-content" style="min-height: 200px;">
                <span class="card-title">KIF 49,0 online</span>
                <p>Die aktuelle KIF findet vom 12.05.2021 (Mittwoch) bis zum 16.05.2021 (Sonntag) online statt und wird von der Fachschaft Informatik der Georg-August-Universität Göttingen organisiert. Unten findet ihr die wichtigsten Links.</p>
            </div>
            <div class="card-action">
                <a style="margin-top: 5px;" class="waves-effect waves-light btn green" href="https://wiki.kif.rocks/w/images/d/d4/Einladung_kif490_de.pdf"><i class="material-icons left">announcement</i>Einladung</a>
                {% comment %}<a style="margin-top: 5px;" class="waves-effect waves-light btn green" href="https://wiki.kif.rocks/w/images/a/ac/Einladung_kif490_en.pdf"><i class="material-icons left">announcement</i>Invitation</a>{% endcomment %}
                <a style="margin-top: 5px;" class="waves-effect waves-light btn green" href="https://tix.kif.rocks/490"><i class="material-icons left">confirmation_number</i>Anmeldung</a>
                <a style="margin-top: 5px;" class="waves-effect waves-light btn green" href="https://wiki.kif.rocks/wiki/KIF490:Hauptseite"><i class="material-icons left">description</i>Hauptseite</a>
                <a style="margin-top: 5px;" class="waves-effect waves-light btn green" href="https://wiki.kif.rocks/wiki/Software:Techsupport"><i class="material-icons left">info</i>Tech-Support</a>
                {% comment %}<a style="margin-top: 5px;" class="waves-effect waves-light btn green" href="https://ak.kif.rocks/kif475/plan/"><i class="material-icons left">today</i>AK-Plan</a>{% endcomment %}
                {% comment %}<a style="margin-top: 5px;" class="waves-effect waves-light btn green" href="https://engel.480.kif.rocks/"><i class="material-icons left">favorite</i>Engelsystem</a>{% endcomment %}
                {% comment %}<a style="margin-top: 5px;" class="waves-effect waves-light btn green" href="https://apfifoges.475.kif.rocks/"><i class="material-icons left">note</i>Apfifoges</a>{% endcomment %}
                {% comment %}<a style="margin-top: 5px;" class="waves-effect waves-light btn green" href="http://moerderspiel.org/kif475"><i class="material-icons left">videogame_asset</i>Mörderspiel</a>{% endcomment %}
            </div>
        </div>
    </div>
</div>
